Source: openmediavault-sabnzbdplus-essencia
Section: net
Priority: optional
Maintainer: Gerik Bonaert <dev@adaxisoft.be>
Build-Depends: debhelper (>> 7), gettext
Standards-Version: 3.6.10
Homepage: http://adaxisoft.be

Package: openmediavault-sabnzbdplus-essencia
Architecture: all
Depends: openmediavault (>= 0.5.7), sabnzbdplus, par2, python-openssl, python-yenc, unrar, unzip
Priority: optional
Description: OpenMediaVault Sabnzbdplus plugin
 Sabnzbdplus is a newsgroup client.
